@model ProductsPageViewModel
@{
    ViewData["Title"] = "Mobile Store";
}

@await Component.InvokeAsync("SearchBar", new { searchBarViewModel = Model.SearchBarParams})
<hr />

@await Component.InvokeAsync("PageBar", new { pageViewModel = Model.PageParams})
<hr />

<div class="container">
    @if (Model.Products.Count() > 0)
    {
        foreach (Product prod in Model.Products)
        {
            @await Component.InvokeAsync("ProductCard", new { prod = prod })
        }

    }else
    {
        <p>
            Nothing Found :\
        </p>
    }
</div>
