@model ProductViewModel

@{
    ViewData["Title"] = "Product Item";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @await Component.InvokeAsync("Carousel", new { carousel = Model.Carousel })
        </div>
        <div class="col-lg-8">
            <div class="container">
                @await Component.InvokeAsync("InfoTable",new { prod = Model.product})
            </div>
        </div>

    </div>
</div>

